
.other-food-image {
    display: block;
    width: 15rem;
}
.other-food-card{
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    background-color: rgba(7, 162, 115, 0.5);
    width: 86vw;
    height: 15rem;
    padding: 1rem;
}
.other-food-description{
    margin-left: 3rem;
}
.other-food-description p{
    font-family: "Raleway", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}